.Pagination {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    padding: 8px;
    &-Button {
        width: 32px;
        height: 32px;
        border: 1px solid #E0E5EB;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 400;
        color: #1F2939;
        background-color: #fff;
        &_active {
            background-color: #E0E5EB;
        }
        &:not(:disabled):hover {
            background-color: #E0E5EB;
        }
    }

}