@use "@/App.scss" as *;

.Button {
    border-radius: 8px;
    border: 0;
    background-color: $red100;
    color: $red700;
    width: 40px;
    height: 40px;
    display: none;
    &:hover {
        background-color: $red100;
        color: $red800;
    }
}