$grey500: #697180;
$black: #1F2939;
$grey300: #CED5DE;
$grey100: #F2F5F8;
$red100: #FEE3E3;
$red700: #C53030;
$red800: #9B2C2C;

@font-face {
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

#root {
  background-color: #F8F9FA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  margin: -10px
}


