$grey500: #697180;
$black: #1f2939;
$grey300: #ced5de;
$grey100: #f2f5f8;
$red100: #fee3e3;
$red700: #c53030;
$red800: #9b2c2c;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

#root {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  margin: -10px;
}
